#primary {
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: 14px;
  border: 1px solid var(--stroke-color);
  border-inline: none;

  justify-content: space-between;
}

@media (width <= 80em) {
  #primary {
    div {
      strong {
        display: none;
      }
    }

    div:nth-child(2) {
      width: 100px;
      height: 20px;
    }

    div:nth-child(3) {
      width: 20px;
      height: 20px;
    }
  }

  #secoundary {
    display: flex; /* Layout flexível para os elementos */
    gap: 32px; /* Espaçamento entre os links */
    overflow-x: scroll; /* Permite o scroll horizontal */
    scrollbar-width: none; /* Oculta a barra de rolagem */
    -ms-overflow-style: none; /* Oculta para IE e Edge */
    font: var(--text-sm); /* Aplica sua fonte */
    white-space: nowrap; /* Impede a quebra de linha */
  }
}
